.ant-search-global {
  height: 36px;

  .ant-input-wrapper {
    height: 100%;

    .ant-input-affix-wrapper {
      height: 100%;
    }

    .ant-input-group-addon {
      .ant-btn {
        height: 100%;
      }
    }
  }
}
