.root-1 {
  .ant-collapse-content-box {
    background-color: rgb(187, 187, 187);
  }
  .title {
    height: 40px;
    background-color: rgb(207, 207, 207);
    font-weight: 600;
    font-size: large;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    margin-bottom: 20px;
  }

  .col-data {
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .col-room {
    // padding: 0 20px;
    display: flex;
    margin: 5px 0;
    height: 215px;
    margin-bottom: 20px;
    .info-room {
      width: 80px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: rgb(207, 214, 214);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .tag {
        margin: 5px 4px;
      }
    }
    .info-booking {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 100%;
      background-color: #fff;

      // padding: 10px 20px;

      .ant-empty {
        height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
