.col-search-room {
  div:first-child {
    font-size: large;
  }
}

.col-search {
  .div-text {
    font-size: large;
  }
}
.col-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
