.table-global {
  .ant-table-header {
    .ant-table-thead {
      .ant-table-cell {
        background-color: #1890ff;
        padding: 10px !important;
      }
    }
  }

  .ant-table-body {
    .ant-table-tbody {
      cursor: pointer;

      .ant-table-cell {
        padding: 10px !important;
      }
    }
  }
}
